@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* ده بيخليك تتحكم في الوزن من 100 (خفيف) لـ 900 (تقيل/أسود) */
  font-style: normal;
  font-display: swap;
}
.body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  overflow-y: scroll;
  overflow-x: auto;  
}
.header {
  background-color: #0171f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.logo {
  width: 100px;
}
.h-links a {
  color: white;
  padding: 5px 25px;
  text-decoration: none;
}
.h-links a:hover {
  background-color: #2386fe;
  border-radius: 15px;
}
.btn{
  background-color: #ee626b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: bold
}
.btn:hover {
  background-color: #f39096;
  border-radius: 15px;
}
.landing{
    background-color: #0171f9; 
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
    color: white;
    border-radius: 0 0 50px 50px;
}
.searchbar input{
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    padding: 0px 10px;
}
.searchbar button{
    position: absolute;
    left: 200px;
    height: 30px;
}
.landing-img{
    border-radius: 20px;
    width: 250px;
}
.left-side{
    width: 400;
}
.trending-con{
        padding: 25px 50px;
}
.trending-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending-header h1{
    margin-top: 0;
}
.trending-con span{
    color: #f39096;
    text-transform: uppercase;
    font-size: 14px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
}
.card-info img{
    width: 50px;
}
.card{
    width: 300px;
    background-color: #eeeeee;
    border-radius: 20;
}
.card .thumb{
    border-radius: 20px 20px 0 0;
}
.trending-cards{
    display: flex;
    gap: 12px;
}